* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: lime;
    overflow-x: hidden;
    text-align: center;
}

  .container {
    width: 100%;
    /*padding: 20px 0;*/
    background-color: rgba(152, 166, 168, 0.9);
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
  }

  .container ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
  }

  .container ul li a {
    color: aqua;
    text-decoration: none;
    font-size: 0.8em;
  }

  .container ul li a:hover {
    color: aquamarine;
  }

  .logo {
    width: 212px;
    margin-top: 10px;
    height: 45px;
  }

  .header-left {
    float: left;
    padding: 0px;
    height: 65px;
  }




.box-untukisiblog { 
  height: 100%;
  width: 100%;
  margin-top: 30px;
}

.box-untukisiblog h1 {
  text-align: center;
}
  /*===*/

  .menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
  }

  .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    opacity: 0;
    z-index: 2;
  }

  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: aqua;
    border-radius: 3px;
  }

  /* css untuk tablet */

  @media screen and (max-width: 768px) {
    .container ul {
      width: 50%;
    }
  }

  /* ukuran mobile */

  @media screen and (max-width: 576px){
    .menu-toggle {
      display: flex;
    }

    .container ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 80%;
      height: 100vh;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      z-index: -1;
      background-color: rgba(152, 166, 168, 0.9);
      transform: translateX(100%);
      transition: all 1s;
      opacity: 0;
    }

    .container ul.slide{
      opacity: 1;
      transform: translateX(0);
    }
  }


